node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Arquivos de relatorio de testes
tests/reports/
mochawesome-report/
mochawesome*.html
mochawesome*.json

.env
.env.*
!.env.example

coverage/
dist/
build/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo
# Relatórios K6
tests/performance/reports/